[Desktop Entry]
Type=Application
Name=GoXLR Utility
Comment=A Tool for Configuring a GoXLR
Path=/usr/bin
Exec=/usr/bin/goxlr-launcher
Terminal=false
Icon=goxlr-utility
Categories=Utility